.App {
  text-align: center;
  /*background-color: #282c34;*/
}

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*  display: inline-block;*/
/*  margin:0 auto;*/
/*}*/

.App-content {
  /*background-color: #282c34;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*font-size: calc(10px + 2vmin);*/
  color: black;
  text-align: center;
  /*min-height: 100vh;*/
  /*margin:0 auto;*/

}


.App-buttons {
  /*background-color: #282c34;*/
  /*min-height: 100vh;*/
  /*!*display: flex;*!*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*font-size: calc(10px + 2vmin);*/
  /*color: white;*/
  /*text-align: center;*/

  display: flex;
  justify-content: center;
}


.left {
  width:550px;
  text-align: right;
  float: left;
  direction: rtl;

}

.center {
  display: inline-block;
  width:120px;

}

.right {
  width:500px;
  text-align: left;
  float: right;

}

